@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cognos Teste</h1>
    <p class="lead">Sistema de cadastro de empresas e contatos usando HTML, CSS and JavaScript.</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Empresa</h2>
        <p>
            Primeiramente, temos que cadastrar as empresas
        </p>
        <p><a class="btn btn-default" href="~/Empresas">Ir para Empresas &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Contatos</h2>
        <p>
            Depois de cadastradas as empresas, temos que ir para os contatos.
        </p>
        <p><a class="btn btn-default" href="~/Contatos">Ir para Contacto &raquo;</a></p>
    </div>
    
</div>